<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Recipe App{% endblock %}</title>

    <link rel="stylesheet" href="/static/css/style.css?v={{ cache_version }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jspdf@2.5.1/dist/jspdf.umd.min.js"></script>
</head>

<body>

<header>
    <h1><a class="brand-link" href="/dashboard">🍳 DailyDish</a></h1>

    <nav>
        <a href="/dashboard">Dashboard</a>
        {% if is_logged_in %}
            <a href="/favourites">Meine Favoriten</a>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
        {% endif %}
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<script src="/static/js/app.js?v={{ cache_version }}"></script>

{% block scripts %}
{% endblock %}

</body>
</html>